@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Update Demo</h1>
    <p>This site was deployed from a GitHub Actions Workflow</a>.</p>
</div>
